
  <div id="wrapper_searchField">
      <div class="spacer"></div>
      <form [formGroup]="search_form" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Sök på ett recept" id="searchField" formControlName="search_term">
        </mat-form-field>
      </form>
      <div class="spacer"></div>
  </div>
  
<div class="container">
  <!--Searchbar-->
  <!--TODO: Implement material searchbar-->

      <mat-card *ngFor="let recipe of recipes; let i = index" class="card">
        <mat-card-header>
          <mat-card-title><h5>{{recipe.name}}</h5></mat-card-title>
          <mat-card-subtitle><h6>{{recipe.desc}}</h6></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{recipe.imgUrl}}" alt="Recipe image">
        <mat-card-content>
          <h5>Ingredienser:</h5>
            <span *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}}, {{ingredient.units}} {{ingredient.msr_unit}}<br></span>
            <h5>Instruktioner:</h5>
            <p>{{recipe.instructions}}</p>
            <h5>Näringsinnehåll:</h5>
            <p>Total carbs: {{totalCarbs(recipe)}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>

  