<h1 mat-dialog-title>Näringsvärde per portion:</h1>
<div mat-dialog-content>
        <!--Getting the total nutrient value per portion.-->
        <span>Kcal: {{totalAmountPerPortion('en_kcal')}}gr<br></span>
        <span>Protein: {{totalAmountPerPortion('protein')}}gr<br></span>
        <span>Kolhydrater: {{totalAmountPerPortion('carbs')}}gr<br></span>
        <span>Mättat fett: {{totalAmountPerPortion('sat_fat')}}gr<br></span>
        <span>Omättat fett: {{totalAmountPerPortion('unsat_fat')}}gr<br></span>
        <span>Fleromättat fett: {{totalAmountPerPortion('poly_unsat_fat')}}gr<br></span>
        <span>Salt: {{totalAmountPerPortion('salt')}}gr<br></span>
        <br>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onOkClick()">OK</button>
</div>