<div class="container">
        <div id="recipe_form">
                <!--TODO: Implement form validation-->
                <form [formGroup]="add_recipe_form" (ngSubmit)="onSubmit()">
                        <mat-form-field>
                                <input matInput placeholder="Namn" formControlName="recipe_name" required>
                                <mat-error *ngFor="let validation of validation_messages.recipe_name">
                                        <mat-error class="error-message" *ngIf="recipe_name.hasError(validation.type)">{{validation.message}}</mat-error>
                                </mat-error>
                        </mat-form-field>

                        <mat-form-field>
                                <input matInput placeholder="Kort beskrivning" formControlName="recipe_desc">
                        </mat-form-field>

                        <mat-form-field hintLabel="Ange kategori och tryck enter">
                                <mat-chip-list #chipList>
                                        <mat-chip *ngFor="let category of categories" [selectable]="selectable"
                                                [removable]="removable" (removed)="removeCategory(category)">
                                                {{category}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                        </mat-chip>
                                        <input placeholder="Kategorier" [matChipInputFor]="chipList"
                                                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addCategory($event)">
                                </mat-chip-list>
                        </mat-form-field>

                        <div>
                                <mat-form-field>
                                        <mat-select placeholder="Antal portioner" required formControlName="recipe_servings">
                                                <mat-option value="2">2</mat-option>
                                                <mat-option value="4">4</mat-option>
                                                <mat-option value="6">6</mat-option>
                                                <mat-option value="8">8</mat-option>
                                                <mat-option value="10">10</mat-option>
                                                <mat-option value="12">12</mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validation of validation_messages.recipe_servings">
                                                <mat-error class="error-message" *ngIf="recipe_servings.hasError(validation.type)">{{validation.message}}</mat-error>
                                        </mat-error>
                                </mat-form-field>
                        </div>

                        <div formArrayName="ingredients">
                                <span>Lägg till ingrediens:</span>
                                <!--TODO: Provide getter for ingredients-->
                                <div class="ingredientsForm">
                                        <mat-form-field>
                                                <input type="text" matInput placeholder="Namn" (keyup)="onIngredientInputEvent($event)"
                                                        [matAutocomplete]="auto" [formControlName]="'name'" required>
                                                <mat-error *ngFor="let validation of validation_messages.ingredient_name">
                                                        <mat-error class="error-message" *ngIf="ingredient_name.hasError(validation.type)">{{validation.message}}</mat-error>
                                                </mat-error>
                                        </mat-form-field>
                                        <mat-autocomplete #auto="matAutocomplete">
                                                <mat-option *ngFor="let ingredientAutoCompleteValue of ingredientAutoCompleteValues"
                                                        [value]="ingredientAutoCompleteValue.Namn">{{ingredientAutoCompleteValue.Namn}}</mat-option>
                                        </mat-autocomplete>
                                        <mat-form-field>
                                                <input matInput type="number" placeholder="Enheter" [formControlName]="'units'"
                                                        required>
                                        </mat-form-field>
                                        <mat-form-field hintLabel="Ex.&quot;st&quot;, &quot;gr&quot;,&quot;ltr&quot; ">
                                                <input matInput placeholder="Måttenhet" [formControlName]="'msr_unit'"
                                                        required>
                                        </mat-form-field>
                                        <mat-form-field>
                                                <input matInput type="number" placeholder="Total vikt i gram"
                                                        [formControlName]="'eq_grams'" required>
                                        </mat-form-field>
                                </div>
                                <div>
                                        <button *ngIf="ingredients.valid" type="button" mat-raised-button (click)="addIngredient()">Lägg
                                                till ingrediens</button>
                                        <button *ngIf="!ingredients.valid" type="button" mat-raised-button disabled>Lägg
                                                till ingrediens</button>
                                </div>
                        </div>
                        <span>Tillagda ingredienser (klicka för att ta bort):</span>
                        <div class="table-wrapper">
                                <table mat-table [dataSource]="addedIngredients" #table>

                                        <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef> Namn </th>
                                                <td mat-cell *matCellDef="let ingredient"> {{ingredient.name}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="units">
                                                <th mat-header-cell *matHeaderCellDef> Enheter </th>
                                                <td mat-cell *matCellDef="let ingredient"> {{ingredient.units}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="msr_unit">
                                                <th mat-header-cell *matHeaderCellDef> Måttenhet </th>
                                                <td mat-cell *matCellDef="let ingredient"> {{ingredient.msr_unit}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="eq_grams">
                                                <th mat-header-cell *matHeaderCellDef> Motsvarande vikt i gram </th>
                                                <td mat-cell *matCellDef="let ingredient"> {{ingredient.eq_grams}} </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="removeIngredient(row)"></tr>
                                </table>
                        </div>


                        <mat-form-field>
                                <textarea rows="10" matInput placeholder="Instruktioner" [formControlName]="'recipe_instr'"
                                        required></textarea>
                                <mat-error *ngFor="let validation of validation_messages.recipe_instr">
                                        <mat-error class="error-message" *ngIf="recipe_instr.hasError(validation.type)">{{validation.message}}</mat-error>
                                </mat-error>
                        </mat-form-field>

                        <!--TODO: Implement image upload-->
                        <mat-form-field>
                                <input matInput placeholder="IMG url" [formControlName]="'img_url'">
                        </mat-form-field>

                        <div><button mat-raised-button type="submit" *ngIf="form.valid">Lägg till recept</button></div>
                        <div><button mat-raised-button disabled type="submit" *ngIf="!form.valid">Lägg till recept</button></div>
                </form>
        </div>
        <!--recipeForm-->
</div>