.container {
    display: flex;
    flex-direction: row;
    width: 100%; 
    margin: 1%;
  }

 form{
    display: flex;
    flex-direction: column;
  }
  form *{
    margin-bottom: 1%; 
  }
  .ingredients * {
    margin: 5px; 
  }
  .ingredients {
    align-items: center
  }
