<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="(isHandset$ | async)">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="wrapper_logo"><img src="./assets/logo.png" alt="logo" class="logo"></div>
  <span class="spacer"></span>
  <!--Searchbar-->
  <!--TODO: Implement material searchbar-->
  <div id="wrapper_searchField">
  <form action="" *ngIf="!(isHandset$ | async)">
      <input placeholder="Sök på ett recept" id="searchField">
  </form>
  </div>
  <span class="spacer"></span>
  <button mat-button>Log in</button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" [hasBackdrop] = "(isHandset$ | async) ? 'true' : 'false'">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="true">
    <mat-toolbar color="primary" id="menu_toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div *ngIf="!(isHandset$ | async)" class="wrapper_logo"><img src="./assets/logo.png" alt="logo" class="logo"></div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/recipeList">Recept</a>
      <a mat-list-item routerLink="/addRecipe">Lägg in nytt recept</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
