.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #fafafa
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo{
  max-height: 100%; 
  width: auto
}
.wrapper_logo{
  height: 100%; 
  width: auto;
  padding: 5px;
}
.spacer{
  flex: 1 1 auto;
}
#wrapper_searchField{
  width: 50%;
}
#wrapper_searchField form{
    display: flex;
    flex-direction: column;
    width: 100%; 
}

