/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body , html { margin:0 !important; padding:0 !important; box-sizing:border-box !important; }
*:not(i):not(mat-icon){
    font-family: 'Roboto', "Helvetica Neue", 'sans-serif';
  }
img{
    display: block;
}

    
